<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %} {% endblock head %}
    <!-- CSS only -->
    <link href="{{ url_for('static', filename='css/bs5.css') }}"
      rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">{{params.web_name}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact us</a>
            </li>
            <!--               
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li> -->
          </ul>
          {% if user %}
          <div class="d-felx">
            <a class="nav-link" href="/profile">Profile</a>
          </div>
          <div class="d-felx">
            <a class="nav-link" href="/logout">Logout</a>
          </div>
          {% else %}
          <div class="d-felx">
            <a class="nav-link" href="/login">Login</a>
          </div>
          <div class="d-felx">
            <a class="nav-link" href="/signup">Signup</a>
          </div>
          {% endif %}
          <!-- <form class="d-flex">
              
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
        </div>
      </div>
    </nav>
    {% block body%}

    {% endblock body%}

    <!-- JavaScript Bundle with Popper -->
    <script src="{{ url_for ('static', filename='js/bootstrap5.js')}}"></script>
  </body>
</html>