{% extends 'base.html' %}

{% block head %}
<title>Contact us</title>
{% endblock head %}

{% block body %}
<div class="container my-4">
<form action="/contact/post" method="post">
        <h3>Contact</h3>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" class="form-control"
                id="email">
        </div>

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" id="title"
                aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
            <label for="msg" class="form-label">Message</label>
            <textarea class="form-control" id="msg" name="msg" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</div>
{% endblock body %}
