{% extends 'base.html' %}
{% block head%}
<title>Home</title>
{% endblock head%}

{% block body%}
<h4>
    Welcome to {{params.web_name}}
</h4>
<p>
    {{params.tag_line}}
</p>
<div class="container">
    <!-- <h2>Index</h2> -->
    {% if user %}
    <div class="alert alert-dark" role="alert">
        You are logged in!
      </div>
    {% endif %}
</div>

{% endblock body%}