{% extends 'base.html' %}
{% block head%}
<title>Log in</title>
{% endblock head%}


{% block body%}
{% if alert %}
<div class="alert alert-dark" role="alert">
  {{alert}}
</div>
{% endif %}

<div class="container my-4">

<form action="/login/post" method="post">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="pass" class="form-label">Password</label>
      <input type="password" class="form-control" id="pass" name="pass">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-dark">Submit</button>
  </form>
</div>

{% endblock body%}