{% extends 'base.html' %}

{% block head %}
<title>Profile</title>
{% endblock head %}

{% block body %}
{% if alert %}
<div class="alert alert-dark" role="alert">
  {{alert}}
</div>
{% endif %}
<div class="container my-4">

  <div class="card mb-3 text-white bg-dark" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% if file %} {{ url_for('static', filename='media/')}}{{data.image}} {% endif %}" class="img-fluid rounded-start" alt="{% if file %}{{ url_for('static', filename='media/')}}{{data.image}}{% endif %}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{data.fName}} {{data.lName}}</h5>
          <p class="card-text">{{ data.email }}</p>
          <p class="card-text"><small class="text-muted">Last updated
              3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
  <form action="/profile/upload" method="post" enctype="multipart/form-data">

    <div class="row g-3">
      <div class="col">
        <label for="file" class="form-label">Upload profile picture</label>
        <input style="width: 250px;" class="form-control form-control-sm bg-dark text-white"
          id="file" name="file" type="file" >
      </div>
      <div class="col-12 my-4">
        <button type="submit" class="btn btn-dark">Upload</button>
      </div>
    </div>
  </form>

  {% if update %}
  <form action="/profile/updating" method="post" class="row g-3">
    <div class="col-md-6">
      <label for="fName" class="form-label">First Name</label>
      <input type="text" class="form-control" value="{{data.fName}}"
        name="fName" id="fName">
    </div>

    <div class="col-md-6">
      <label for="lName" class="form-label">Last Name</label>
      <input type="text" class="form-control" value="{{data.lName}}"
        name="lName" id="lName">
    </div>

    <div class="col-md-6">
      <label for="email" class="form-label">Email</label>
      <input type="email" readonly class="form-control" value="{{data.email}}"
        name="email" id="fName">
    </div>

    <div class="col-md-6">
      <label for="pass" class="form-label">Password</label>
      <input type="password" class="form-control" name="pass" id="pass">
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-dark">Update</button>
      <a href="/profile"><button type="button" class="btn btn-outline-dark">Cancle</button></a>
    </div>
  </form>
  {% else %}
  <div class="col-12">
    <a href="/profile/edit"><button type="button" class="btn btn-dark">Edit</button></a>
  </div>
  {% endif %}

</div>
{% endblock body %}