{% extends 'base.html' %}
{% block head%}
<title>SignUp</title>
{% endblock head%}


{% block body%}
{% if alert %}
<div class="alert alert-dark" role="alert">
    {{ alert }}
  </div>
{% endif %}
<div class="container my-4">
<form action="/signup/post" method="post">
    <div class="mb-3">
      <label for="fName" class="form-label">First Name</label>
      <input type="text" class="form-control" id="fName" name="fName" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="lName" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="lName" name="lName" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="pass" class="form-label">Password</label>
      <input type="password" class="form-control" id="pass" name="pass">
    </div>
    <div class="mb-3">
      <label for="pass2" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" id="pass2" name="pass2">
    </div>
    <!-- <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <button type="submit" class="btn btn-dark">Submit</button>
  </form>
</div>

{% endblock body%}